%div{:class => (deliverable.current? ? "current_deliverable" : "past_deliverable")}
	.summary
		%span.title
			= deliverable.title
		%span.time_label
			= "(#{time_span_to_due_date_in_words(deliverable)})" if deliverable.end_date
		%span.status_icon
			- status_icon(deliverable, current_user)
	.body
		%ul
			%li
				- if current_user.eit? then
					- if deliverable.submitted?(current_user) then
						= "You submitted #{deliverable.submissions_for(current_user).size} version(s). The latest one on #{deliverable.latest_submission(current_user).created_at}" 
					- else
						= "You did not submit a version yet."
				- elsif current_user.staff? then
					= "#{deliverable.eits_submitted.size}/#{deliverable.eits.size} Eits submitted so far."
			%li= "The deadline #{deliverable.current? ? "is" : "was"} on #{deliverable.end_date}"			
			%li= "This deliverable was last changed on #{deliverable.updated_at} by #{deliverable.author.name}"
		%p
			- if current_user.staff? then
				- if deliverable.versions.keys.max >= 1 then
					%p
						= link_to "Download all Submissions (Version #{deliverable.versions.keys.max})", download_project_deliverable_path(deliverable.project, deliverable)
						= current_user.latest_version_downloaded(deliverable) ? "Downloaded" : "Never downloaded" 
				= link_to "Enter Grades", project_deliverable_reviews_path(deliverable.project, deliverable) if deliverable.ended?
			= link_to "Add Submission", new_project_deliverable_submission_path(deliverable.project, deliverable) if current_user.eit?
