= render :partial => "projects/detail"
.new_deliverable_form
	= form_for @deliverable, :url => project_deliverables_url(@project) do |f|
		= render :partial => 'shared/error_messages', :locals => {:target => @deliverable}
		%legend Create a new Deliverable
		%ol
			%li
				= f.label :title
				= f.text_field :title
			%li
				= f.label :description
				= f.text_field :description
			%li
				= f.label :start, "Start date"
				= datetime_select :deliverable, :start_date, :start_year => Time.now.year - 1
			%li
				= f.label :end, "End date"
				= datetime_select :deliverable, :end_date, :start_year => Time.now.year - 1
			%li
				#button
					= submit_tag "cancel"
					= submit_tag "create"
