%h1 
	Teams for 
	= link_to @project.title, project_path(@project)
	= link_to "+", new_project_team_path(@project)
%h2= @project.class_of
%ul
	- @project.teams.each_with_index do |team,i|
		%li
			= "Team #{i+1}"
			%ol
				- team.eits.each do |eit|
					%li= eit.name
