%h1 Please provide more information
= form_for @user, :as => :user, :url => user_path(@user) do |f|
	= render :partial => 'shared/error_messages', :locals => {:target => @user}
	%legend Edit your account
	%ol
		%li
			= f.label :first_name, "First Name"
			= f.text_field :first_name, :value => @user.suggested_first_name
		%li
			= f.label :middle_names, "Middle Names"
			= f.text_field :middle_names
		%li
			= f.label :last_name, "Last Name"
			= f.text_field :last_name, :value => @user.suggested_last_name
		%li
			%label Email
			= @user.email
		%li
			#button= submit_tag "save"
