%h1 Unassigned Roles
- if @users and not @users.empty?
	= form_tag  assign_roles_users_path, :method => :put do
		%table
			%tr
				%th Email
				%th Type
			- @users.each do |user|
				= fields_for "users[]", user do |f|
					%tr
						%td= user.email
						%td= f.select(:type, User.grouped_types, :include_blank => true)
					
		#button= submit_tag "Assign"
- else
	No unassigned users at this time.
	= link_to "back", root_path