%h1= "#{uncamel(@project.type)} \"#{@project.title}\""
.semester= "Class of #{@project.semester.class_of.year}" if @project.semester
.description= @project.description
.subject= "Subject: #{@project.subject.title}" if @project.subject
.start_date= "Start date: #{@project.start}"
.end_date= "End date: #{@project.end}" if @project.end
.timestamps
	= "Created: #{@project.created_at}"
	= "Updated: #{@project.updated_at}" unless @project.created_at == @project.updated_at
- if @project.is_a? TeamProject then
	%h2 
		- if current_user.staff? then
			= "Teams (#{@project.teams.size})"
		- else
			My Team
		= link_to "+", new_project_team_path(@project) if current_user.staff? and not @project.has_empty_teams? and not @project.unassigned_eits.empty?
	- unless @project.teams_for(current_user).empty? then
		%ol
			= render :partial => "teams/summary", :collection => @project.teams_for(current_user), :as => :team
	- else
		Not assigned to a team yet.
%h2
	= "Deliverables (#{@project.deliverables.count})"
	= link_to "+", new_project_deliverable_path(@project) if current_user.staff?
= render :partial => "deliverables/summary", :collection => @project.deliverables.sort{|a,b| a.end_date <=> b.end_date}, :as => :deliverable
