%h1 New Project
= form_for @project, :url => {:action => "create"} do |f|
	= render :partial => 'shared/error_messages', :locals => {:target => @project}
	%legend Create a new Project
	%ol
		%li
			%label Type
			- Project.types.each do |t|
				= f.label "type_#{t.downcase}", t
				= f.radio_button :type, t
		%li
			= f.label :title
			= f.text_field :title
		%li
			= f.label :description
			= f.text_field :description
		%li
			= f.label :subject
			= collection_select(:project, :subject_id, Subject.all, :id, :title, :include_blank => true)
		%li
			= f.label :semester
			= collection_select(:project, :semester_id, Semester.all, :id, :title)
		%li
			= f.label :start, "Start date"
			= date_select :project, :start, :start_year => Time.now.year - 1
		%li
			= f.label :end, "End date"
			= date_select :project, :end, :include_blank => true, :start_year => Time.now.year - 1
		%li
			#button= submit_tag "create"
		
