%h1 New Project
= form_for :project, @project, :url => {:action => "create"} do |f|
	= render :partial => 'error_messages', :locals => {:target => @project}
	%legend Create a new Project
	%ol
		%li
			%label Title
			= f.text_field :title
		%li
			%label Description
			= f.text_area :description
		%li
			%label Subject
			= collection_select(:project, :subject_id, Subject.all, :id, :title, :include_blank => true)
		%li
			%label Semester
			= collection_select(:project, :semester_id, Semester.all, :id, :title)
		%li
			= submit_tag "create"
		