%h1 New Project
= form_for @project, :url => {:action => "create"} do |f|
	= render :partial => 'shared/error_messages', :locals => {:target => @project}
	%legend Create a new Project
	%ol
		%li
			%label Title
			= f.text_field :title
		%li
			%label Description
			= f.text_field :description
		%li
			%label Subject
			= collection_select(:project, :subject_id, Subject.all, :id, :title, :include_blank => true)
		%li
			%label Semester
			= collection_select(:project, :semester_id, Semester.all, :id, :title)
		%li
			%label Start date
			= date_select :project, :start, :start_year => Time.now.year - 1
		%li
			%label End date
			= date_select :project, :end, :include_blank => true, :start_year => Time.now.year - 1
		%li
			#button= submit_tag "create"
		