%h1= "#{@deliverable.project.title} - #{@deliverable.title}" 
%h2 Grading Sheet
%h3= "This deliverable was created by #{@deliverable.author.name}. Are you sure you want to grade it?" unless current_user.eql?(@deliverable.author) 
= form_tag mass_create_project_deliverable_reviews_path(@deliverable.project, @deliverable) do 
  %table
    %tr
      %th Name
      %th Grade
      %th Remarks

    - @submissions.each do |submission|
      %tr
        = fields_for "submissions[#{submission.id}][review_attributes]", submission.review do |rev_f|
          %td= rev_f.label :user, submission.user
          %td= rev_f.text_field :percentage
          %td= rev_f.text_area :remarks
        
  #button= submit_tag "Save"
